html, body {
    background: palegoldenrod;
    height: 100vh;
    margin: 0;
    border: 0;
}

.wrapper {
    height: 40vh;
    display: grid;
    grid-template-areas: 'sidebar navbar navbar navbar navbar navbar navbar'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main'
                            'sidebar main main main main main main';
}

.navbar {
    border: 0;
    grid-area: navbar;
    background: rgb(223, 211, 88);
    border: lightslategray 1px solid;
    text-align: center;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr 8fr 1fr 1fr; 
    grid-gap: 10px;
}

.buscar {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    background: whitesmoke;
    border: lightslategray 1px solid;
    grid-gap: 10px;
    min-height: 20px;
}

.inicio {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    background: rgb(227, 235, 153);
    border: lightslategray 1px solid;
    min-height: 20px;
}


.sidebar {
    height: 100vh;
    background: rgb(150, 146, 105);
    grid-area: sidebar;
    display: grid;
    grid-template-areas: 'footer';
    text-align: center;
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 14px; 
}

.logo {
    background: lightgray;
    border: lightslategray 1px solid;
    grid-row: 1 / 4;
    text-align: center;
}

.footer {
    background: lightgray;
    border: lightslategray 1px solid;
    grid-row: 20 / -1;
    text-align: center;
}

.main {
    border: 0;
    grid-area: main;
    overflow: auto;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(6, 2fr);
    grid-gap: 30px;
    padding: 50px;
    text-align: center;
}

.video {
    background: lightslategray;
    border: lightslategray 1px solid;
    grid-row: 1 / 7;
    grid-column: 1 / 5;
}

.info {
    background: lightslategray;
    border: lightslategray 1px solid;
    grid-row: 7 / 8;
    grid-column: 1 / 4;
}

.votar {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
    background: lightslategray;
    border: lightslategray 1px solid;
}

.sugerencias {
    grid-row: 8 / -1;
    grid-column: 1 / 5;
    background: rgb(188, 189, 190);
    border: black 1px solid;
    display: grid;
    overflow: auto;
    grid-gap: 20px;
    padding: 5px;
    padding-bottom: 20px;
    grid-template: repeat(3, 130px) / repeat(2, 1fr);
}

.sug {
    background: lightslategray;
    border: black 1px solid;
}

.comentarios{
    grid-row: 1 / -1;
    grid-column: 5 / 7;
    background: rgb(188, 189, 190);
    border: lightslategray 1px solid;
    display: grid;
    overflow: auto;
    grid-gap: 10px;
    padding: 5px;
    grid-template-rows: repeat(6, 150px);
}

.coment {
    background: lightslategray;
    border: black 1px solid;
}

@media (max-width: 768px) {
    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-areas: ' navbar navbar navbar navbar navbar navbar'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main';
    }

    .sidebar {
        display: none;
    }

    .main {
        grid-template: repeat(10, 1fr) / repeat(6, 2fr);
        grid-gap: 20px;
        padding: 25px;
    }

    .video {
        grid-row: 1 / 6;
        grid-column: 1 / 5;
    }
    
    .info {
        grid-row: 6 / 7;
        grid-column: 1 / 4;
    }
    
    .votar {
        grid-row: 6 / 7;
        grid-column: 4 / 5;
    }
    
    .sugerencias {
        grid-row: 7 / -1;
        grid-column: 1 / -1;
        grid-template: repeat(2, 80px) / repeat(3, 200px);
        padding-left: 20px;
    }
    
    .comentarios{
        grid-row: 1 / 7;
        grid-column: 5 / -1;
}

@media (max-width: 600px) {
    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-areas: ' navbar navbar navbar navbar navbar navbar'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main'
                                ' main main main main main main';
    }

    .sidebar {
        display: none;
    }

    .main {
        grid-template: repeat(10, 1fr) / repeat(6, 2fr);
        grid-gap: 20px;
        padding: 25px;
    }

    .video {
        grid-row: 1 / 5;
        grid-column: 1 / -1;
    }
    
    .info {
        grid-row: 5 / 6;
        grid-column: 1 / 6;
    }
    
    .votar {
        grid-row: 5 / 6;
        grid-column: 6 / 7;
    }
    
    .sugerencias {
        grid-row: 8 / -1;
        grid-column: 1 / -1;
        grid-template: repeat(3, 100px) / repeat(2, 1fr);
        padding-left: 5px;
    }
    
    .comentarios{
        grid-row: 6 / 8;
        grid-column: 1 / -1;
    }
}